body{
  background:linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
 
    background-size: cover;
    text-align: center;
 
}

#header .logo {

  
position:relative;
 
  margin-top:-102px;
  right:40%;
}

.contact-form{
    margin-top: 100px;
    color: #03fcd7;
    text-transform: lowercase;
    transition: all 4s ease-in-out;
}

.contact-form h1{
    font-size: 32px;
}


form{
    margin-top: 50px;
    transition: all 4s ease-in-out ;
}

.form-control{
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 18px;
}


input{
    height: 45px;
}

form .submit{
    background: #03fcd7;
    border: transparent;
    color:white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background: #f44336;
    cursor: pointer;
}

@keyframes fade1{
0%{
opacity:1
}
25%{
opacity:0
}
75%{
opacity:0
}
100%{
opacity:1
}
}

member-thumb {
  width: 273px;
  position: relative;
}

.member-thumb .overlay h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0;
}

.member-thumb .overlay {
	font-size: 16px;
	padding: 20px;
	line-height: 24px;
}

.team-member h4 {
  color: #062033;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0 8px;
}

.member-thumb:hover .overlay {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.team-member:hover h4 {
  color: #0eb493;
}

.team-member .social-links {
  margin-top: 24%;
}

.team-member .social-links li a {
  background-color: #0d7c67;
  color: #fff;
  height: 42px;
  padding: 10px 0 0;
  width: 42px;
}

